// Mixins Here

.button(@bgcolor,@height,@width,@color){
    background:@btn-bg-color;
    height:@height;
    width: @width;
    color:@color;
    border-radius:10px;
    text-align:center;
}

.pfont()