// Navigation code here

.nav{
    h2{
        text-align:center;

    }
    nav{
        display:flex;
        justify-content:center;
        align-items:center;
        border-bottom: 3px solid @nav-border;
        a{
            text-decoration:none;
            color:@nav-font;
            font-size: 1.6rem;
            margin: 3%;
        }
    }
    
}

